[Unit]
Description=
Documentation=
After=network-online.target

[Service]
User={{ influxdb_exporter_user_username }}
ExecStart={{ influxdb_exporter_bin_path }}/{{ influxdb_exporter_bin }}

[Install]
WantedBy=multi-user.target
