[Unit]
Description=
Documentation=
After=network-online.target

[Service]
User={{ pinger_user_username }}
ExecStart={{ pinger_shell_dir }}/{{ pinger_shell }}

[Install]
WantedBy=multi-user.target
